$primary: #0045bc;
$positive: #00bb78;
$golden: #ffc01e;
$dark: #171717;
$l-dark: #353535;
$error: #fa5959;

$gray-1: #f0f0f0;
$gray-2: #f0f1f3;
$gray-3: #f5f5f5;
$gray-4: #f9fbfc;
$gray-5: #8b8b8b;

$white: #fff;
$black: #000;
